<DOCTYPE html>
<html>
  <head>
    <title>hamza 1er site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container" >
        <h1 class="text-center">list of my projects</h1>
        <img class="img-fluid" id="banner" src ="https://4c0625b0-cb51-465f-8f68-dce43ece66e2-00-1g254zo4231ev.picard.replit.dev/static/stream.jpg" height="320">

      <h2 class="text-center">About hamza </h2>
      <p class="lead">
        Je suis un étudiant passionné par la data science et l'intelligence artificielle, avec une forte motivation pour exploiter le potentiel des données pour résoudre des problèmes complexes. Mon parcours académique en mathématiques appliquées et en informatique m'a permis de développer une solide compréhension des algorithmes de machine learning et des techniques de traitement des données. J'ai réalisé plusieurs projets pratiques où j'ai appliqué mes compétences en analyse de données, en programmation Python, et en utilisation de bibliothèques comme TensorFlow et Scikit-learn. Je suis constamment à la recherche de nouvelles opportunités pour approfondir mes connaissances et contribuer à des projets innovants qui ont un impact tangible.
      </p>
      <h2 class="text-center">Open Posting</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html'%}          
        {% endfor %}
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">contact-me</button>
        <p class="mt-4">by-the goat Hamza</p>
      
      </div>
    
    </div>
  </body>
</html>
